body {
  overflow: auto;
}

/*--------------------------------NAVBAR SECTION-----------------------------*/
.navbar {
  background: #fcf9f9;
}

.nav-link {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
}
.nav-icon {
  color: #000000;
}

/*----------------------------END NAVBAR----------------------------------------*/

/*-------------------------------------HOME COMPONENT---------------------------*/
.content-left {
  margin-top: 40px;
}
img {
  max-width: 100%;
  height: fit-content;
}

.content-right {
  margin-top: 15px;
  padding-top: 1.5rem;
  color: #000000;
}

.content-caption {
  text-align: center;
  padding: 1.5rem;
}

.content-main {
  margin-top: 10px;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace, serif;
}

.striped {
  background: linear-gradient(to bottom left, #fcf9f9 50%, palegoldenrod 50%);
}

.content-right h4 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  animation-name: slidein;
}

.content-right span {
  font-style: italic;
  font-size: 18px;
}

/*------------------------------------END HOME---------------------------------*/

/*-------------------------------CONTACT COMPONENT----------------------------*/
.container-main {
  background: linear-gradient(to bottom right, palegoldenrod 60%, #fcf9f9 40%);
}
.card-contact {
  width: 70%;
  margin-top: 50px;
  background: #ffffff;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  place-content: center;
}

.contact-header {
  font-size: 20px;
  border-bottom: 2px solid #000000;
}

.card-contact:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.5s;
  opacity: 1;
  transition: 0.5s;
}

.contact-details {
  margin: 50px 25px 25px 25px;
}

.caption {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.social-links {
  margin-left: 20px;
  color: #000000;
}

.btn-submit {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  width: 8rem;
}

/*--------------------------- END CONTACT---------------------------------------*/

/*----------------------------PROJECTS SECTION-----------------------------------*/

.project {
  margin: 10px 0 10px 0;
  padding-top: 10px;
  background: #fcf9f9;
}

.projectName {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.view {
  display: flex;
  justify-content: center;
}

.view > a {
  background-color: #251b1b;
  color: #ffffff;
  padding: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: none;
  margin-bottom: 22px;
}

.view > a:hover {
  text-decoration: none;
}

.description {
  display: flex;
  justify-content: center;
}

.description > p {
  width: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-align: justify;
}
/*----------------------------END PROJECTS--------------------------------------*/

/*----------------------------BLOGS SECTION--------------------------------------*/
.blog {
  margin: 10px 0 10px 0;
  padding-top: 10px;
  background: #fcf9f9;
}

.title {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.read-blog {
  display: flex;
  justify-content: center;
}

.read-blog > a {
  background-color: #fcf9f9;
  color: #000000;
  padding: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: none;
  margin-bottom: 22px;
}

.read-blog > a:hover {
  text-decoration: none;
}

.description {
  display: flex;
  justify-content: center;
}

.description > p {
  width: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-align: justify;
}
/*----------------------------END BLOGS-----------------------------------------*/

/*------------------------- FOOTER SECTION--------------------------------------*/
.footer {
  background-color: #fcf9f9;
  margin-top: 1px;
  padding: 41px;
}

.footer h1 {
  padding: 5px;
}

.socialMedia {
  color: #000000;
}
/*--------------------------------END FOOTER--------------------------------*/

/*------------------dropdown-----------------------*/
/* Dropdown Button */
.dropbtn {
  background-color: #fcf9f9;
  color: #000000;
  padding: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 9px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcf7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(226, 214, 214, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*----------------------------------End dropdown----------------------------------*/

/*------------------- CONTACT ANIMATION SECTION----------------------------------*/
.animate {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*----------------END ANIMATION------------------------------------------------*/

@media only screen and (max-width: 780px) {
  .main-content {
    border-top: 1px solid black;
  }
}
@media only screen and (max-width: 780px) {
  .description > p {
    width: 100%;
    padding: 0 15px 0 15px;
  }
}
@media only screen and (max-width: 900px) {
  .item {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .card-contact {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  body {
    overflow: visible;
  }
}
